###   $GRIB_ENV/config/encoder.config
###   This data is loaded into structure 'USER_INPUT'
###   The load function expects these lines to be in the EXACT order
###   as shown.  Do not remove/add new lines.
###   Only the 1st column is read in, the remaining of the line is ignored.
###
1 	#User defined case ID (1 digit alphanumeric, used in Default fn)
2 	#GRIB Table Version Number (usParm_tbl)
1 	#Local Table Version Number (usSub_tbl)
128  	#Originating Center id (usCenter_id)
0 	#Sub-Center id  (usCenter_sub)
0 	#Tracking ID for data set (usTrack_num)
1 	#GDS flag [0=none, 1=present] (part of usGds_bms_id)
0 	#BMS flag (leave at 0. Software currently does not support BMS creation)
0 	#Num bits to pack each datapt (if 0, it will calculate minval)
